{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
   {{#each meta.panels}}
    <div class="card2">
        {{#each fields}}
            {{#notEq name "name"}}
            <div class="row-fluid">
                <div class="span2">{{str  this.label ../../../this.model.module}}</div>
                <div class="span10" name="{{this.name}}">
                {{field ../../../this}}
                </div>
                </div>
            {{/notEq}}
        {{/each}}
                <span class="extend">
                  <div class="row-fluid">
                      <a href="javascript:void(0)" class="more hide">{{str "LBL_SHOW_MORE"}} <i class="icon-chevron-down"></i></a>
                      <a href="javascript:void(0)" class="less hide">{{str "LBL_SHOW_LESS"}} <i class="icon-chevron-up"></i></a>
                  </div>
                </span>
        {{else}}
        {{#if model.dataFetched}}{{str "LBL_DETAILVIEW_NO_RECORDS"}}{{else}}{{str "LBL_LOADING"}}{{/if}}
    </div>
    {{/each}}
