{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
{{#each meta.panels}}
<table class="table table-striped dataTable">
    <thead>
    <tr>
        {{#each fields}}
            <th {{#if this.width}}width="{{this.width}}" {{/if}}class="{{#isSortable ../../module this}}sorting{{#eq ../../../orderBy.field name}}_{{../../../../orderBy.direction}}{{/eq}} orderBy{{name}}{{/isSortable}}"
                 data-fieldname="{{name}}" data-orderby="{{orderBy}}">
                 <span>
                    {{str label ../../module}}
                 </span>
            </th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each ../collection.models}}
    <tr name="{{module}}_{{attributes.id}}" class="single">
        {{#each ../fields}}
            <td{{#if this.align}} class="{{this.align}}"{{/if}}>
              {{field ../../../this model=../this template=../../../this.viewName}}
            </td>
        {{/each}}
    </tr>
    {{/each}}
    </tbody>
</table>
{{/each}}
