{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
{{#unless isAuthenticated}}
<div class="btn-group dropdown" id="languageList">
        <a href="javascript:void(0)" title="{{str "LBL_LANGUAGE"}}" class="btn btn-invisible dropdown-toggle" data-toggle="dropdown"><i class="icon-globe"></i>
            {{str "LBL_LANGUAGE"}}</a>
        <ul class="dropdown-menu bottom-up">
            {{#each languageList}}
            <li><a data-lang-key="{{key}}" href="javascript:void(0)">{{#eq ../currentLang key}}<strong>{{value}}</strong>{{else}}{{value}}{{/eq}}</a></li>
            {{/each}}
        </ul>
</div>
{{/unless}}
