{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
<div class="block-footer">
    {{#if showGeneric}}
        {{str errorLBL}}
    {{/if}}
{{#if needConnect}}
    <a target="blank" class="connect-twitter" href="index.php?module=EAPM&refreshParentWindow=yesPlease&closeWhenDone=1&action=QuickSave&application=Twitter">
        {{str 'LBL_CONNECT_TWITTER'}}
    </a>
{{/if}}
    {{#if needOAuth}}
        {{#if showAdmin}}
            <a href='#bwc/index.php?module=Connectors&action=ModifyProperties'>
                {{str 'LBL_CONNECT_TWITTER_FOR_ADMIN'}}
            </a>
        {{else}}
            <em>{{str 'LBL_CONFIGURE_TWITTER'}}</em>
        {{/if}}
    {{/if}}
</div>
