{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
<a href="#Users/{{user_id}}" class="avatar avatar42 pull-left" rel="tooltip" title="{{full_name}}" data-placement="right">
    {{#if picture_url}}
        <img src="{{picture_url}}" alt="{{full_name}}">
    {{else}}
        <i class="icon-user icon-3x"></i>
    {{/if}}
</a>
<div class="inputwrapper">
    <div contenteditable="true" class="sayit attachable taggable" data-placeholder="{{str "LBL_ACTIVITYSTREAM_POST_PLACEHOLDER"}}" />
    <div class="inputactions">
        <button class="pull-right btn btn-primary addPost disabled">{{str 'LBL_SUBMIT_BUTTON_LABEL'}}</button>
    </div>
</div>
