{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
{{#each data.records}}
    <li>
        <span>{{str "LBL_MODULE_NAME" module}}: </span><a href="#{{module}}/{{id}}"><strong>{{name}}</strong></a>
    </li>
{{/each}}
{{#eq data.records.length "0"}}
    <li>
        <a href="#search/{{term}}">{{str "LNK_SEARCH_NO_RESULTS"}}</a>
    {{#each data.module_list}}
        <a href="#{{this}}/create">{{str "LNK_CREATE_WHEN_EMPTY" this}}</a>
    {{/each}}
    </li>
{{else}}
    <li>
        <a href="#search/{{term}}">{{str "LNK_SEARCH_FTS_VIEW_ALL"}}</a>
    </li>
{{/eq}}
