{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
<h4>{{str "LBL_RESOURCES" module}}</h4>
<ul class="list">
    <li><a target="_blank" href="http://support.sugarcrm.com/02_Documentation/01_Sugar_Editions?utm_source=App&utm_medium=about&utm_content={{this.serverInfo.version}}&utm_campaign={{this.serverInfo.product_name}}">{{str "LBL_RESOURCES_DOCUMENTATION" module}}</a></li>
    <li><a target="_blank" href="http://support.sugarcrm.com/04_Find_Answers/03_Developers?utm_source=App&utm_medium=about&utm_content={{this.serverInfo.version}}&utm_campaign={{this.serverInfo.product_name}}">{{str "LBL_RESOURCES_DEVELOPERS" module}}</a></li>
    <li><a target="_blank" href="http://www.sugarcrm.com/company-overview?utm_source=App&utm_medium=about&utm_content={{this.serverInfo.version}}&utm_campaign={{this.serverInfo.product_name}}">{{str "LBL_RESOURCES_SUGAR_INFO" module}}</a></li>
</ul>
