{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
{{#eq customType 'custom_default'}}
    <div id="{{name}}" class="clearfix">
        <div class="control-group pull-left checkbox">
            <input type="checkbox" {{#if isExclude}}
                disabled="disabled"
            {{else}}
               value="1" {{#if in_included_total}}checked="true"{{/if}} name="in_included_total_{{def.name}}" data-key="{{def.name}}" data-category="{{category}}"
            {{/if}}>
            <input type="text" placeholder="{{str "LBL_FORECASTS_CONFIG_RANGES_ENTER_RANGE" module}}" class="span12" value="{{label}}" data-key="{{def.name}}" data-category="{{category}}">
        </div>
        <div class="noUiSliderEnds pull-right">
            <div class="rangeSlider noUiSlider"></div>
        </div>
    </div>
{{/eq}}

{{#notEq customType 'custom_default'}}
    <div id="{{name}}" class="clearfix">
        <div class="checkbox pull-left">
            <input type="checkbox"
                {{#eq customType 'custom_without_probability'}}
                disabled="disabled"
               {{/eq}}
                {{#eq customType 'custom'}}
                    value="1" {{#if in_included_total}}checked="true"{{/if}} name="in_included_total_{{def.name}}" data-key="{{def.name}}" data-category="{{category}}"
                {{/eq}}
            >
            <input type="text" placeholder="{{str "LBL_FORECASTS_CONFIG_RANGES_ENTER_RANGE" module}}" class="span12" value="{{label}}" data-key="{{def.name}}" data-category="{{category}}">
        </div>
        <div class="btn-group">
            <a class="btn removeCustomRange" href="javascript:void(0)" data-key="{{def.name}}" data-category="{{category}}">
                <i class="icon-minus"></i>
            </a>
        </div>
        <div class="btn-group">
            <a class="btn addCustomRange" href="javascript:void(0)" data-type="{{customType}}" data-category="{{category}}">
                <i class="icon-plus"></i>
            </a>
        </div>
        {{#eq customType 'custom'}}
        <div class="noUiSliderEnds pull-right">
            <div class="rangeSlider noUiSlider"></div>
        </div>
        {{/eq}}
    </div>
{{/notEq}}
