{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
{{> wizard-page.header }}
        <!-- Hack: Adding .record here since .record .record-cell contain styles we need :( -->
        <div class="modal-body record">
            {{#each meta.panels}}
                {{#each grid}}
                    <div class="row-fluid {{../name}}{{#if ../hide}} hide{{/if}}">
                        {{#each this}}
                            <div class="span{{span}} record-cell{{#if cell_css_class}} {{cell_css_class}}{{/if}}" data-type="{{type}}" data-name="{{name}}">
                                <div class="record-label" data-type="{{type}}" data-name="{{name}}">{{#if label}}{{str label module}}{{/if}}</div>
                                <span class="normal{{#if css}} {{css}}{{/if}}" data-fieldname="{{name}}">
                                    {{field ../../../this model=../../../model template="edit"}}
                                </span>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
            {{/each}}
        </div>
{{> wizard-page.footer }}
